.contact {
	width: 100%;
	min-height: 600px;
	text-align: right;
	color: black;
	h2 {
		font-size: 48px;
		line-height: 60px;
		line-height: 200px;
		font-family: Roboto;
		//margin-right: 100px;
	}
	.row {
		margin-left: 0px;
		margin-right: 0px;
	}
	i {
		font-size: 80px;
		line-height: 100px;
		&:hover {
    		color: $brand-color-blue;
    		font-size: 78px;
    		transition: all .7s ease;
    		text-shadow: 1px 1px 1px rgba(70, 154, 224, .5);
    	}
	}
}