.contact {
	width: 100%;
	min-height: 650px;
	color: black;
	h2 {
		color: $red;
		text-decoration: underline overline;
		font-size: 40px;
		line-height: 60px;
		line-height: 150px;
		font-family: Roboto;
	}
	i {
		font-size: 80px;
		line-height: 150px;

		&:hover {
    		color: $red;
    		transition: all .7s ease;}
	}
	a:focus {
		color: black;
		text-decoration: none;
	}
	// .fa-twitter {
	// 	color: #6EA763;
	// }
	// .fa-facebook {
	// 	color: #46629E;
	// }
	// .fa-linkedin {
	// 	color: #1582B9;
	// }
	// .fa-envelope {
	// 	color: orange;
	// }
}