.contact {
	width: 100%;
	text-align: right;
	color: black;
	h2 {
		font-size: 48px;
		line-height: 60px;
		line-height: 100px;
		font-family: Roboto;
		margin-right: 	-70px;
	}
	.container {
		margin: 80px 0;
	}
	a {
		color: black;
		text-decoration: none;
		padding: 20px;
	}
	i {
		font-size: 60px;
		line-height: 150px;
	}
}