/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */
 body {
 	background: #9e9e9eff;
 	h1 h2 h3 p {
 		font-family: Roboto;
 	}
 	a {
 		color: black;
 		&:hover {
 			text-decoration: none;
 		}
 	}
 }
