<div class="footer">
	<div class="container">
		<div class="row">
			<ul class="list-inline">

				<!-- LinkedIn --> 
				<li>
				<a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//devanco.eu/&title=Developper%20Web%20Fullstak%20Ruby%20on%20Rails&summary=Developper%20Fullstask%20Ruby%20on%20rails.%20I%20joined%20Le%20Wagon%20and%20became%20a%20Fullstack%20developper%20Ruby%20on%20Rails.%20Hire%20me%20now&source=" target="_blank" ><i class="fa fa-linkedin"></i></a>
				<!-- 
				<a target="_blank", href="https://www.linkedin.com/profile/view?id=AAMAAAUpl5EB_-LWrEFxy8IlBEwl__kHrjn6KL0&trk=hp-identity-name"><i class="fa fa-linkedin"></i>
				</a> -->
				</li>
				
				<!-- Twitter -->
				<li>
				<a href="http://twitter.com/home?status=Developper Fullstask Ruby on rails. I joined Le Wagon and became a Fullstack developper Ruby on Rails. Hire me now @ehab_elia - www.devanco.eu" title="Share on Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
				<!-- 
				<a target="_blank", href="https://twitter.com/ehab_elia">
					<i class="fa fa-twitter"></i>
				</a> -->
				</li>

				<!-- Facebook -->
				<li>
				<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//dry-woodland-8385.herokuapp.com/" title="Share on Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
				<!-- <a target="_blank", href="https://www.facebook.com/elly.elia.96"><i class="fa fa-facebook"></i>
				</a> -->
				</li>
					
				<!-- Google + -->
				<li>
				<a href="https://plus.google.com/share?url=https://dry-woodland-8385.herokuapp.com/" title="Share on Google+" target="_blank" <i class="fa fa-google-plus"></i></a>
				<!-- <a target="_blank", href="https://github.com/EhabElia"><i class="fa fa-google-plus"></i>
				</a> -->
				</li>
			</ul>
			<p>©ehab elia</p>
		</div>
	</div>
</div>






















