	<div class="footer">
		<div class="container">
			<ul class="list-inline">
				<li><i class="fa fa-github-square"></i></li>
				<li><i class="fa fa-linkedin"></i></li>
				<li><i class="fa fa-facebook"></i></li>
			</ul>
			<p>© Ehab Elia	</p>
		</div>
	</div>