<div class='header'>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-8 ">
				<ul class="menu list-inline dropdown	">
					<li><a href="/" class="dropdown-toggle" data-toggle="dropdown">Welcome</a></li>
					<li><a href="/portfolio" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a></li>
					<li><a href="/Blog" class="dropdown-toggle" data-toggle="dropdown">Blog</a></li>
					<li><a href="/about" class="dropdown-toggle" data-toggle="dropdown">About</a></li>
					<li><a href="/contact" class="dropdown-toggle" data-toggle="dropdown">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
