<div class='header'>
	<div class="container">
		<div class="row">
			<div class="col_xs_8">
				<ul class="menu list-inline">
					<li><a href="/">Welcome</a></li>
					<li><a href="/">Portfolio</a></li>
					<li><a href="/">Blog</a></li>
					<li><a href="/">About</a></li>
					<li><a href="/">Contact</a></li>
				</ul>
			</div>
			<div class="name col-xs_8">
				<h1>Ehab Elia</h1>
			</div>
		</div>
	</div>
</div>
