<div class='header'>
	<div class="container">
		<!-- <div class="row"> -->
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          <i class="fa fa-align-right"></i>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
			    	<div class="panel-body">
			    		<ul class="list-inline">
							<li>
								<a href="/">Welcome</a>
							</li>
							<!-- <li>
								<a href="/portfolio_ehab_elia">Portfolio</a>
							</li> -->
							<!-- <li>
								<a href="/Blog">Blog</a>
							</li> -->
							<li>
								<a href="/about_ehab_elia">About</a>
							</li>
							<li>
								<a href="/contact_ehab_elia">Contact</a>
							</li>
						</ul>
			    	</div>
			    </div>
			</div>
		<!-- </div> -->
	</div>
</div>
