<div class="about">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 thumbnail">
				<%= image_tag 'ehab-elia.jpg', alt:'edoss - portfolio ehab elia - dev&co', class:"img-size"%>
			</div>
			<div class="col-xs-12 col-md-6">
				<h2>Hello. My name is<br> <span class="hightlight">ehab elia</span></h2>
				
				<p>I was born in 1981 in Cairo - Egypt and moved to France in 2007. I worked in different fields like TV, Tourism and Marketing. I'm an adept of open source and militates for a fair sharing economy and society. I worked with <a href="http://ouishare.net/en", target="blank", class="btn-in-paragraph">OuiShare</a> on different projects as a Tech Lead.</p>

				<p>Conscious of the social and entreprenerial scope of coding, I joined <a href="https://www.lewagon.com/", target="blank", class="btn-in-paragraph">Le Wagon</a> end of 2015 and became a Fullstack developper Ruby on Rails.</p>

				<h2>
					<a class="btn-blue" href="/contact_ehab_elia">Hire me</a>
				</h2>
			</div>
		</div>
	</div>
</div>