<div class="container">
	<div class="row">
		<div>
			<%= image_tag 'ehabelia.png', alt:'edoss - portfolio ehab elia - dev&co', class:"img-rounded img-size"%>
		</div>
		<div>
			
		</div>
	</div>
</div>