<div class="contact">
	<div class="container text-center">
		<h2>Contact me</h2>
		
			<div class="col-xs-6 col-md-3">
				<a href="mailto:ehab.elia@gmail.com"><i class="fa fa-envelope"></i></a>
			</div>
			<div class="col-xs-6 col-md-3">
				<a target="_blank", href="https://www.linkedin.com/in/ehab-elia-72900a25?trk=hp-identity-name"><i class="fa fa-linkedin"></i></a>
			</div>
			<div class="col-xs-6 col-md-3">
				<a target="_blank", href="https://twitter.com/ehab_elia"><i class="fa fa-twitter"></i></a>
			</div>
			<div class="col-xs-6 col-md-3">
				<a target="_blank", href="https://www.facebook.com/elly.elia.96"><i class="fa fa-facebook"></i></a>
			</div>
			<div class="col-xs-12 col-md-12">
				<a target="_blank", href="https://github.com/EhabElia"><i class="fa fa-github"></i></a>
			</div>			
		
	</div>
</div>