<div class="contact">
	<div class="container">
		<h2>Contact me</h2>
		<div class="row">
			<a href=""><i class="fa fa-envelope"></i></a>
			<a href=""><i class="fa fa-linkedin"></i></a>
			<a href=""><i class="fa fa-twitter"></i></a>
			<a href=""><i class="fa fa-facebook"></i></a>
		</div>
	</div>
</div>