<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-79015699-1', 'auto');
    ga('send', 'pageview');
</script>
<div class="portfolio">
	<div class="jumbotron"></div>
	<div class="container">
		<div class="row">
			<a class="col-md-6 project", target="_blank", href="http://www.edoss.fr/">
				<div class="thumbnail-header">
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
				</div>
				<div class="thumbnail ">
					<%= image_tag 'edoss-resized.png', alt:'http://www.edoss.fr/ - portfolio ehab elia - DevCompanion.com', class:'img-size' %>
				</div>
				<h3>EDoss</h3>
				<p>Co-created with two colleagues, it's aime to streamline document delivery process between future tenant and property owners. The future tenant download all the documents requested on the platform and sends a link to the owners.</p>
			</a>
			<a class="col-md-6 project", target="_blank", href="https://hipme.herokuapp.com/">
				<div class="thumbnail-header thumbnail-bottom">
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
				</div>
				<div class="thumbnail">
					<%= image_tag 'hipme-resized.png', alt:'https://hipme.herokuapp.com/ - portfolio ehab elia - DevCompanion.com', class:'img-size' %>
				</div>
				<h3>HIP ME</h3>
				<p>Co-created with two colleagues, it's a fashion platform for all. You can offer your style advices, provide your clothes for rent and met nice people. Or you can find inspiration and rent clothes.</p>
			</a>
		</div>
		<div class="row">
			<a class="col-md-6 project", target="_blank", href="https://marketinghumain.wordpress.com/">
				<div class="thumbnail-header">
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
				</div>
				<div class="thumbnail">
					<%= image_tag 'mkt-resized.png', alt:'https://marketinghumain.wordpress.com/ - portfolio ehab elia - DevCompanion.com', class:'img-size' %>
				</div>
				<h3>Humain Marketing</h3>
				<p>Why a human marketing? That may be what led you so far. Intrigued by this humanism that could stand as the key value of the success of companies and brands of the future, you wonder if this applies to you?</p>
			</a>
			<a class="col-md-6 project">
				<div class="thumbnail-header">
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
				</div>
				<div class="thumbnail">
					<%= image_tag 'profil-resized.png', alt:'personnel profil - portfolio ehab elia - DevCompanion.com', class:'img-size' %>
				</div>
				<h3>Multi-user App</h3>
				<p>A multi-user research project to create a website that allow you to create a personal profile, using devise, upload a photo, share on social networks, etc.</p>
			</a>
		</div>
		<div class="row"></div>
	</div>
</div>