<div class="portfolio">
	<div class="jumbotron"></div>
	<div class="container">
		<div class="row">
			<a class="col-md-6 project", target="_blank", href="http://www.edoss.fr/">
				<div class="thumbnail-header">
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
				</div>
				<div class="thumbnail">
					<%= image_tag 'edoss1.png', alt:'http://www.edoss.fr/ - portfolio ehab elia - dev&co' %>
				</div>
				<h3>Hello</h3>
				<p>This project is This project is This project is This project is This project is This project is This project is This project is This project is This project is</p>
			</a>
			<a class="col-md-6 project", target="_blank", href="https://hipme.herokuapp.com/">
				<div class="thumbnail-header">
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
				</div>
				<div class="thumbnail">
					<%= image_tag 'hipme1.png', alt:'https://hipme.herokuapp.com/ - portfolio ehab elia - dev&co' %>
				</div>
				<h3>Hello</h3>
				<p>This project is This project is This project is This project is This project is This project is This project is This project is This project is This project is</p>
			</a>
		</div>
		<div class="row">
			<a class="col-md-6 project", target="_blank", href="http://www.edoss.fr/">
				<div class="thumbnail-header">
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
				</div>
				<div class="thumbnail">
					<%= image_tag 'edoss1.png', alt:'http://www.edoss.fr/ - portfolio ehab elia - dev&co' %>
				</div>
				<h3>Hello</h3>
				<p>This project is This project is This project is This project is This project is This project is This project is This project is This project is This project is</p>
			</a>
			<a class="col-md-6 project", target="_blank", href="https://hipme.herokuapp.com/">
				<div class="thumbnail-header">
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
					<div class="thumbnail-header-btn"></div>
				</div>
				<div class="thumbnail">
					<%= image_tag 'hipme1.png', alt:'https://hipme.herokuapp.com/ - portfolio ehab elia - dev&co' %>
				</div>
				<h3>Hello</h3>
				<p>This project is This project is This project is This project is This project is This project is This project is This project is This project is This project is</p>
			</a>
		</div>
		<div class="row"></div>
	</div>
</div>