<div class="">
	<div class='header'>
		<div class="container">
			<div class="row">
				<div class="col_xs_8">
					<ul class="list-inline link-custom">
						<li><a href="/">Welcome</a></li>
						<li><a href="/">Portfolio</a></li>
						<li><a href="/">Blog</a></li>
						<li><a href="/">About</a></li>
						<li><a href="/">Contact</a></li>
					</ul>
				</div>
				<div class="name col-xs_4">
					<h1>Ehab Elia</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="main home bkg-white">
		<div class="jumbotron">
			<div class="container bkg-white">
				<h2>Hello.<br> My name is <span class="hightlight">Ehab Elia</span>...<br> I have creative ideas and build websites...</h2>
				<a class="btn right" href="portfolio">View my work</a>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<ul class="list-inline">
				<li><i class="fa fa-github-square"></i></li>
				<li><i class="fa fa-linkedin"></i></li>
				<li><i class="fa fa-facebook"></i></li>
			</ul>
			<p>© Ehab Elia	</p>
		</div>
	</div>
</div>