<div class="welcome">
	<div class="jumbotron">
		<div class="main">
			<div class="container">
				<h2>
					Hello. My name is <span class="hightlight">ehab elia B.</span><br>I have creative ideas and am building<br> The First Incubator for Developers<br>
					<a class="btn-blue center" href="/contact_ehab_elia">Get in touch</a>
				</h2>
			</div>
		</div>
	</div>
</div>

