<div class="main home bkg-white">
	<div class="jumbotron">
		<div class="container">
			<div class="main">
				<h2>Hello. My name is <span class="hightlight">Ehab Elia</span>. I have creative ideas and build websites.</h2>
				<a class="btn right" href="portfolio">View my work</a>
			</div>
		</div>
	</div>
</div>
