<div class="main">
	<div class="jumbotron">
		<div class="container-fluid">
			<div class="text-center">
				<h2>Hello. My name is <span class="hightlight">ehab elia</span><br>I have creative ideas and build<br>websites.</h2>
				<a class="btn-blue center" href="portfolio"><i class="fa fa-arrow-circle-right"></i>View my work</a>
			</div>
		</div>
	</div>
</div>
