<div class="welcome">
	<div class="jumbotron">
		<div class="main">
			<div class="container">
				<h2>
					Hello. My name is <span class="hightlight">ehab elia B.</span><br>I have creative ideas and am building<br> The First Physical Community for Developers<br>
					<a id="btn-blue" href="/contact_ehab_elia">Join me</a>
				</h2>	
			</div>
		</div>
	</div>
</div>	