<div class="jumbotron">
	<div class="main">
		<div class="container">
			<h2>
				Hello. My name is <span class="hightlight">ehab elia</span><br>I have creative ideas and build<br> Apps & websites<br>
				<a class="btn-blue center" href="portfolio">View my work</a>
			</h2>
		</div>
	</div>
</div>