.header {	
    position: relative;
    width: 100%;
    height: 60px;

    .panel-group {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .panel-heading {
        background-color: transparent;
    }
    .panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
        border: none;
        box-shadow: none;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .panel-group {
        margin-top: 10px;
    }
    
    .fa-align-right {
        color: $brand-color-red;
        font-size: 20px;
        padding: 5px;
        transition: all .4s ease;

        &:hover {
            color: white;
            background-color: $brand-color-red;
        }

        &:focus {
            color: white;
            background-color: $brand-color-red;
        }
    }
    li {
        font-weight: 500;
        font-size: 16px;
        
        a {
        text-decoration: none;
        transition: all .4s ease;
        
            &:hover {
                color: $brand-color-red;
                transition: all .4s ease;
            }

            &:focus {
                color: $brand-color-red;
                transition: all .4s ease;
            }
        }  
    } 
}
