.container{
	position: relative;
}
.header {	
    width: 100%;
    line-height: 60px;
    padding-top: 10px;
    a {
    	color: black;
    	text-decoration: none;
    	border-radius: 5px;
    	padding: 5px;
    	transition: all .3s ease;
    	&:hover {
    		color: $brand-color-blue;
    		text-decoration: overline;
    		font-size: 17px;
    		border-radius: 2px;
    		padding: 5px;
    		transition: all .5s ease;
    		text-shadow: 1px 1px 1px rgba(70, 154, 224, .5);
    	}
    }
    ul {
    	margin-left: 100px;
    	margin-bottom: 0px
    }
    li {
		padding-left: 10px;
	    padding-right: 10px;
	    font-size: 18px;
	    font-weight: 500px
    }
}
.name {
    text-align: right;
    position: absolute;
    right: 98px;
   	bottom: 30px;

    h1 {
    font-size: 18px;
    line-height: 0px;
    margin-top: 0;
    margin-bottom: 1px;
    }
}