.header {	
    position: relative;
    width: 100%;
    height: 60px;
    .panel-group {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .panel-heading {
        background-color: transparent;
    }
    .panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
        border: none;
        box-shadow: none;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .panel-group {
        margin-top: 10px;
    
        .fa-align-right {
            color: $brand-color-red;
            font-size: 20px;
        }
        li {
            font-weight: 500;
            font-size: 14px;
            color: $brand-color-blue;
            a {
            text-decoration: none;
            transition: all .3s ease;
            
                &:hover {
                    color: $brand-color-blue;
                    transition: all .4s ease;
                }
            }  
        }
    }  
}
