.carousel-page {
	//width: 100%;
	//height: 100%;
	background-color: white;
	color: white;
	border-radius: 5px;
}
.carousel {
	width: 1100px;
    height: auto;
 }
//<img src="/images/edoss1.png" class="img-responsive" style="margin:0px auto;">