.btn-blue {
    padding: 5px;
    border-radius: 3px;
    color: white;
    background: $brand-color-blue;
    transition: all .4s ease;
    font-size: 24px;
    //text-shadow: 1px 1px 1px rgba(70, 146, 224, .5);
    &:hover {
        font-size: 23px;
    	color: $brand-color-blue;
    	background: white;
    	transition: all .7s ease;
        text-decoration: none;
    }
    &:focus {
        font-size: 23px;
        color: $brand-color-blue;
        background: white;
        transition: all .7s ease;
        text-decoration: none;        
    }
}
.right {
    position: absolute;
    right: 200px;
}

.Center {
   margin: 0 auto ;
   width: 100px ;
}