.btn-blue {
    padding: 13px;
    border-radius: 3px;
    font-family: Indie Flower;
    color: white;
    background: $brand-color-blue;
    transition: all .7s ease;
    font-size: 24px;
    
    &:hover {
	color: $brand-color-blue;
	background: white;
	transition: all .7s ease;
    text-decoration: none;
    }
    &:focus {
        color: $brand-color-blue;
        background: white;
        transition: all .7s ease;
        text-decoration: none;        
    }
}
.right {
    position: absolute;
    right: 200px;
}

.Center {
   margin: 0 auto ;
   width: 100px ;
}